@using System.Data;
@{
    ViewBag.Title = "Area Funcional";
    ViewBag.Description = "Listado de Areas Funcionales";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-yellow">
                <span class="widget-caption">LISTADO DE AREAS FUNCIONALES</span>
                <div class="widget-buttons">
                    @*<a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>*@
                </div>
            </div>
            <div class="widget-body">
                <!-- Modal -->

                <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                @*<h4 class="modal-title">Settings</h4>*@

                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="widget">
                                            <center> <img src='~/assets/img/cargando.gif' /></center>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="well with-header table-responsive">
                    <div class="header bordered-pink">
                     @*@if (User.IsInRole("pedd_compania_crear")) *@
                     @*{
                         <button id="crear" class="btn btn-primary"><i class="fa fa-calendar"></i>Crear Empresa</button> *@
                        <a id="editabledatatable_new" href="~/Pedd/AreaFuncional/Create" class="btn btn-primary">
                            <i class="fa fa-calendar"></i>Crear Area Funcional
                        </a>
                            @*}*@
                            @*else*@
                            @*{*@
                            @*<button id="crear" class="btn-primary" disabled>Crear Empresa</button>*@
                            @* } *@

                      </div> 
                    <table class="table table-responsive" id="searchable">
                        <thead>
                            <tr>
                                <th>
                                    Id Empresa
                                </th>
                                <th>
                                    Rut Empresa
                                </th>

                                <th>
                                    Dv Empresa
                                </th>
                                <th>
                                    Nombre Empresa
                                </th>
                                <th>
                                    Giro
                                </th>
                                <th>
                                    Direccion
                                </th>
                                <th>
                                    Fono
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    Id Empresa
                                </th>
                                <th>
                                    Rut Empresa
                                </th>

                                <th>
                                    Dv Empresa
                                </th>
                                <th>
                                    Nombre Empresa
                                </th>
                                <th>
                                    Giro
                                </th>
                                <th>
                                    Direccion
                                </th>
                                <th>
                                    Fono
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>

                                </th>
                            </tr>
                        </tfoot>
                        <tbody id="fbody">
                            @{
                                DataTable dt = null;
                                dt = (ViewBag.AreaFuncional != null) ? (DataTable)ViewBag.AreaFuncional : null;
                            }

                            @if (dt != null && dt.Rows.Count > 0)
                            {
                                foreach (DataRow dr in dt.Rows)
                                {
                                    <tr id="@(dr["idOt"].ToString())">

                                        <td>@(dr["idOt"].ToString())</td>

                                        @{
                                            DataTable dtArea = null;
                                            dtArea = (ViewBag.Areas != null) ? (DataTable)ViewBag.Areas : null;
                                        }
                                        @foreach (DataRow drAr in dtArea.Rows)
                                        {
                                            if (int.Parse((dr["idAreaOp"].ToString())) == int.Parse((drAr["IdArea"].ToString())))
                                            {
                                                <td>@(drAr["dgArea"].ToString())</td>
                                            }
                                           
                                        }
                                        @*<td>@(dr["idAreaOp"].ToString())</td> *@
                                        <td>@(dr["dgDescripcion"].ToString())</td>
                                        <td>@(dr["dfPrograma"].ToString())</td>
                                        @*<td>@(dr["idEstado"].ToString())</td>  *@

                                        @{
                                            DataTable dtEstado = null;
                                            dtEstado = (ViewBag.Estados != null) ? (DataTable)ViewBag.Estados : null;
                                        }
                                        @foreach (DataRow drEs in dtEstado.Rows)
                                        {
                                            if (int.Parse((dr["idEstado"].ToString())) == int.Parse((drEs["idEstado"].ToString())))
                                            {
                                                <td>@(drEs["dgNombreEstado"].ToString())</td>
                                            }

                                        }


                                        <td id="@(dr["idOt"].ToString())" align="left">

                                          @* @if (User.IsInRole("ope_ot_edit")) *@
                                          @* { *@
                                                @*<a href="Users/Detail?UserId=@(dr["ID_SISTEMA"].ToString())"><button class="btn btn-info">Ver</button></a>
                                               <button id="btn_edit" type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Editar</button> *@

                                           
                                            <button id="btn_edit" type="button" class="btn btn-info btn-xs" onclick="Editar(@(dr["idOt"].ToString()));"><i class="fa fa-check"></i>Editar</button>
                                            
                                           
                                            @*<a id="btn_edit"  class="btn btn-info btn-xs" >
                                                <i class="fa fa-edit"></i>Editar
                                            </a>*@
                                           

                                            @* } *@
                                            @* else *@
                                            @* { *@
                                            @*<button id="btn_edit" type="button" class="btn btn-info btn-xs" disabled>Editar</button> *@
                                            @* } *@

                                            @*
                                              @if (User.IsInRole("ope_ods_crear"))
                                              {
                                                <button id="btn_ods" type="button" class="btn btn-info btn-xs"><i class="fa fa-inbox"></i>Generar ODS</button>
                                              }
                                              else
                                              {
                                                <button id="btn_ods" type="button" class="btn btn-danger btn-xs" disabled><i class="fa fa-inbox"></i>Generar ODS</button>
                                              }
                                            *@

                                            @*
                                            @if (User.IsInRole("ope_ot_delete"))
                                            {
                                            *@
                                                <button id="btn_DELETE" type="button" class="btn btn-danger btn-xs Delete-confirm"><i class="fa fa-trash-o"></i>Eliminar</button>
                                            @*
                                            }
                                            else
                                            {
                                                <button id="btn_DELETE" type="button" class="btn btn-danger btn-xs" disabled><i class="fa fa-trash-o"></i>Eliminar</button>
                                            }
                                            *@
                                        </td>

                                    </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*<form id="FormOt" method="post" hidden>
        <input type="text" class="form-control" autocomplete="Off" name="IdOt" value="" id="IdOt" readonly />
    </form>*@

    <form id="FormOt" method="post" action="Ot/Edit" hidden>
        <input type="text" class="form-control" autocomplete="Off" name="IdOt" value="0" id="IdOt" readonly />
        <input type="submit" value="Submit" id="btnSubmit">
    </form>

</div>


<!--Email Modal Templates-->
<div id="myEmailModal" class="modal fade" data-backdrop="static" data-keyboard="false" style="display:none;">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="To" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject" required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Content" rows="5" required=""></textarea>
            </div>
        </div>
    </div>
</div>

@{
    var relativeUrl = HttpContext.Current.Request.Url.Segments;
    var url = string.Empty;

    foreach (var item in relativeUrl)
    {
        if (!item.Equals("Index"))
        {
            url += item;
        }
        else
        {
            break;
        }
    }
}
@section PageScripts{
 <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

 <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
 <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
 <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
 <script src="~/assets/js/datatable/datatables-init.js"></script>
 <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
 <script src="~/assets/js/bootbox/bootbox.js"></script>
 <script src="~/assets/js/jquery.blockUI.js"></script>
 <script type="text/javascript" class="init">


        $(document).ready(function () {
            $('#searchable').DataTable({

                "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                "aaSorting": [[4, 'asc']],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"]
                ],
                "iDisplayLength": 10,
                "oTableTools": {
                    "aButtons": [
                       // "copy",
                       // "print",
                        {
                            "sExtends": "print",
                            "sButtonText": "<i class=\"fa fa-print\"></i> Imprimir",
                            "aButtons": ["print"]
                        },
                        {
                            "sExtends": "collection",
                            "sButtonText": "<i class=\"fa fa-save\"></i> Guardar",
                            "aButtons": ["csv", "xls", "pdf"]
                        }

                    ],
                    "sSwfPath": "../assets/swf/copy_csv_xls_pdf.swf"
                },
                "language": {
                    "search": "",
                    "sLengthMenu": "_MENU_",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                initComplete: function () {
                    this.api().columns([0,1,2,3,4]).every(function () {
                        var column = this;
                        var select = $('<select placeholder="Search Modelo" class="selectpicker" data-style="btn-primary"><option value="">Todos</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });



    </script>

}