@using System.Data;
@{
    ViewBag.Title = "Mapa del sistema";
    ViewBag.Description = "Mapa del sistema";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Nodos del sitio</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    @if (User.IsInRole("core_sitemap_createnewsitemapnode"))
                                        {
                    <a id="editabledatatable_new" href="~/Administration/SiteMap/Create" class="btn btn-primary">
                        Agregar Nodo
                    </a>
                    }
                </div>
                <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox">
                                    <span class="text"></span>
                                </label>
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Ícono
                            </th>
                            <th>
                                Permisos
                            </th>
                            <th>
                                Area
                            </th>
                            <th>
                                Controller
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Padre
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            DataTable dt = null;
                            dt = (ViewBag.SiteMaps != null) ? (DataTable)ViewBag.SiteMaps : null;
                        }

                        @if (dt != null && dt.Rows.Count > 0)
                        {
                            foreach (DataRow dr in dt.Rows)
                            {
                                <tr id="@(dr["key"].ToString())">
                                    <td>
                                        <label>
                                            <input type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </td>
                                    <td>@(dr["title"].ToString())</td>
                                    <td>@(dr["description"].ToString())</td>
                                    <td>@(dr["imageurl"].ToString())</td>
                                    <td>@(dr["roles"].ToString())</td>
                                    <td>@(dr["area"].ToString())</td>
                                    <td>@(dr["controller"].ToString())</td>
                                    <td>@(dr["action"].ToString())</td>
                                    <td>@(dr["keyparent"].ToString())</td>
                                    <td>
                                        @if (User.IsInRole("core_sitemap_edit"))
                                        {
                                        <a href="SiteMap/Edit?ChildNodeId=@(dr["key"].ToString())"><button class="btn btn-info">Editar</button></a><br>
                                        }
                                        @if (User.IsInRole("core_sitemap_deletesitemapnode"))
                                        {
                                        <button class="Delete-confirm btn btn-labeled btn-darkorange">Eliminar</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
@{
    var relativeUrl = HttpContext.Current.Request.Url.Segments;
    var url = string.Empty;

    foreach (var item in relativeUrl)
    {
        if (!item.Equals("Index"))
        {
            url += item;
        }
        else
        {
            break;
        }
    }
}
    <script>

        var InitiateSimpleDataTable = function () {
            return {
                init: function () {
                    //Datatable Initiating
                    var oTable = $('#simpledatatable').dataTable({
                        "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                        "iDisplayLength": 10,
                        "oTableTools": {
                            "aButtons": [                                
                                {                                    
                                    "sExtends": "copy",
                                    "sButtonText": "Copiar"
                                },
                                {
                                    "sExtends": "collection",
                                    "sButtonText": "Exportar <i class=\"fa fa-angle-down\"></i>",
                                    "aButtons": ["csv", "xls", "pdf"]
                                }
                            ],
                            "sSwfPath": "../assets/swf/copy_csv_xls_pdf.swf"
                            //"sSwfPath": "../assets/swf/copy_csv_xls_pdf.swf"


                        },
                        "language": {
                            "sInfo": "Mostrando _START_ de _END_ de _TOTAL_ registros",
                            "search": "",
                            "sLengthMenu": "_MENU_",
                            "oPaginate": {
                                "sPrevious": "Anterior",
                                "sNext": "Siguiente"
                            }
                        },
                        "aoColumns": [
                            {
                                "bSortable": false,
                                "width": '45px'
                            },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": true },
                            { "bSortable": false }
                        ],

                        "aaSorting": []
                    });

                    //Check All Functionality
                    $('#simpledatatable thead th input[type=checkbox]').change(function () {
                        var set = $("#simpledatatable tbody tr input[type=checkbox]");
                        var checked = $(this).is(":checked");
                        $(set).each(function () {
                            if (checked) {
                                $(this).prop("checked", true);
                                $(this).parents('tr').addClass("active");
                            } else {
                                $(this).prop("checked", false);
                                $(this).parents('tr').removeClass("active");
                            }
                        });

                    });
                    $('#simpledatatable tbody tr input[type=checkbox]').change(function () {
                        $(this).parents('tr').toggleClass("active");
                    });
                    //Eliminar un registro dentro de la tabla
                    $('#simpledatatable').on("click", '.Delete-confirm', function (e) {
                        var xChildKey = $(this).parents('tr')[0].id;
                        var nRow = $(this).parents('tr')[0];
                        bootbox.confirm("¿Esta seguro que desea eliminar este registro?", function (result) {
                            if (result) {
                                $.ajax({
                                    url: '@url/Delete_SiteMap_Node?ChildNodeId=' + xChildKey,
                                    type: 'post',
                                    dataType: "html",
                                    async: false,
                                    success: function (Result) {
                                        switch (Result.toString()) {
                                            case "1":
                                                alert('Ocurrio una anomalia al procesar su solicitud');
                                                break;
                                            case "0":
                                                var oTable = $('#simpledatatable').dataTable()
                                                oTable.fnDeleteRow(nRow);
                                                break;
                                            default:
                                                alert(Result.toString());
                                                break;
                                        }
                                    }
                                });
                    }
                        });
                    });


        }

        };

        }();

        InitiateSimpleDataTable.init();

    </script>
}