@model NetCore.PeddEval.Web.WebSite.Areas.PeddEval.Models.CabEvaluacionModels
@using System.Data;
@using CoreLibrary.Web.Bootstrap;
@{
    ViewBag.Title = "Modificación de Evaluación";
    ViewBag.Description = "Modificar una Evaluación.";
    Layout = "";

}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-yellow">
                <span class="widget-caption">  Modificación de Evaluación:</span>
                <span class="widget-caption">&nbsp;[&nbsp;</span>
                <span class="widget-caption">@Model.IdCabEvaluacion</span>
                <span class="widget-caption"> &nbsp;]</span>
                <span class="widget-caption">&nbsp;/</span>
                <span class="widget-caption">&nbsp;[ &nbsp;</span>
                <span class="widget-caption">@Model.NomEvaluacion</span>
                <span class="widget-caption"> &nbsp;]</span>
                <input hidden type="text" id="numCabEvaluacion" name="numCabEvaluacion"  value="@Model.IdCabEvaluacion" />
                <div class="widget-buttons">
                    @*<a href="#" data-toggle="maximize">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
            <a href="#" data-toggle="dispose">
                <i class="fa fa-times"></i>
            </a>*@
                </div>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Compañía
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <select id="numIdCompania" name="numIdCompania" class="form-control" style="width: 100%;">
                                    <option value="0"> </option>
                                    @{
                                        DataTable dtCompania = null;
                                        dtCompania = (ViewBag.Compania != null) ? (DataTable)ViewBag.Compania : null;
                                    }
                                    @foreach (DataRow drComp in dtCompania.Rows)
                                    {
                                        if (int.Parse((drComp["IdCompania"].ToString())) == Model.IdCompania)
                                        {
                                            <option selected value="@(drComp["IdCompania"].ToString())">@(drComp["NomCompania"].ToString())</option>
                                        }
                                        else
                                        {
                                            <option value="@(drComp["IdCompania"].ToString())">@(drComp["NomCompania"].ToString())</option>
                                        }
                                    }
                                </select>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Nombre
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input id="dgNomEvaluacion" type="text" class="form-control" autocomplete="Off" name="dgNomEvaluacion" value="@Html.Encode(Model.NomEvaluacion)" placeholder="Nombre de la Evaluación"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="El campo es Obligatorio" />
                                <i class="glyphicon glyphicon-comment"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Descipción
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input id="dgDesEvaluacion" type="text" class="form-control" autocomplete="Off" name="dgDesEvaluacion" value="@Html.Encode(Model.DesEvaluacion)" placeholder="Descripción de la Evaluación"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="El campo es Obligatorio" />
                                <i class="glyphicon glyphicon-comment"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Instrucción
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input id="dgInsEvaluacion" type="text" class="form-control" autocomplete="Off" name="dgInsEvaluacion" value="@Html.Encode(Model.InsEvaluacion)" placeholder="Instrucciones para la Evaluación"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="El campo es Obligatorio" />
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Inicio
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input id="dgdfInicio" type="text" class="form-control date-picker" name="dgdfInicio" value="@Html.Encode(Model.dfInicio.ToString())" data-date-format="dd/mm/yyyy" placeholder="Fecha de Inicio de la Evaluación"
                                       data-datepicker="true"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="El campo es Obligatorio" />
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Término
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input id="dgdfTermino" type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" name="dgdfTermino" value="@Html.Encode(Model.dfTermino.ToString())" placeholder="Fecha de Término de la Evaluación"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="El campo es Obligatorio" />
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Tipo Evaluación
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <select id="numIdTipoEvaluacion" name="numIdTipoEvaluacion" class="form-control" style="width: 100%;">
                                    <option value="0"> </option>
                                    @{
                                        DataTable dtTipoEval = null;
                                        dtTipoEval = (ViewBag.TipoEvaluacion != null) ? (DataTable)ViewBag.TipoEvaluacion : null;
                                    }
                                    @foreach (DataRow drTeval in dtTipoEval.Rows)
                                    {
                                        if (int.Parse((drTeval["IdTipoEvaluacion"].ToString())) == Model.IdTipoEvaluacion)
                                        {
                                            <option selected value="@(drTeval["IdTipoEvaluacion"].ToString())">@(drTeval["NomTipoEvaluacion"].ToString())</option>
                                        }
                                        else
                                        {
                                            <option value="@(drTeval["IdTipoEvaluacion"].ToString())">@(drTeval["NomTipoEvaluacion"].ToString())</option>
                                        }
                                    }
                                </select>
                                <i class="" id="IdTipoEvaluacionIcon"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- ESTA SECCION ES UN LISTBOX GENERICO  -->
                <!--== INICIO -->
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Area Aplicación
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <select id="numIdCompSucAreDep" name="numIdCompSucAreDep" class="form-control" style="width: 100%;">
                                    <option value="0"> </option>
                                    @{
                                        DataTable dtGenerico = null;
                                        dtGenerico = (ViewBag.Generico != null) ? (DataTable)ViewBag.Generico : null;
                                    }

                                    @foreach (DataRow drGen in dtGenerico.Rows)
                                    {
                                        if (int.Parse((drGen["Id"].ToString())) == Model.IdCompSucAreDep)
                                        {
                                            <option selected value="@(drGen["Id"].ToString())">@(drGen["Descripcion"].ToString())</option>
                                        }
                                        else
                                        {
                                            <option value="@(drGen["Id"].ToString())">@(drGen["Descripcion"].ToString())</option>
                                        }
                                        
                                    }
                                </select>
                                <i class="" id="IdCompSucAreDepIcon"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!--== FIN -->



                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            Estado
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <select id="numIdEstado" name="numIdEstado" class="form-control" style="width: 100%;">
                                    <option value="0"> </option>
                                    @{
                                        DataTable dtEstado = null;
                                        dtEstado = (ViewBag.Estado != null) ? (DataTable)ViewBag.Estado : null;
                                    }
                                    @foreach (DataRow dr in dtEstado.Rows)
                                    {
                                        if (int.Parse((dr["IdEstado"].ToString())) == Model.IdEstado)
                                        {
                                            <option selected value="@(dr["IdEstado"].ToString())">@(dr["NomEstado"].ToString())</option>
                                        }
                                        else
                                        {
                                            <option value="@(dr["IdEstado"].ToString())">@(dr["NomEstado"].ToString())</option>
                                        }
                                    }
                                </select>
                                <i class="" id="IdEstadoIcon"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <table align="center">
                                <tr>
                                    <td align="center">

                                        @*@if (User.IsInRole("ope_compania_crear")) *@
                                        @*{*@
                                        <button id="btnActualizar" class="btn btn-primary" onclick="ActualizarCabEvaluacionBD(numCabEvaluacion,numIdCompania,dgNomEvaluacion,dgDesEvaluacion,dgInsEvaluacion,dgdfInicio,dgdfTermino,numIdTipoEvaluacion,numIdCompSucAreDep,numIdEstado,btnActualizar)"><i class="fa fa-floppy-o"></i>Grabar</button>


                                        @*}*@
                                        @*else*@
                                        @*{*@
                                        @*<button id="btnAgregar" class="btn-primary" disabled onclick="GrabarAdjuntoBD(dgDescripcion,NomArchivo,AtachTable,btnAgregar)><i class="fa fa-folder-open-o"></i>Grabar</button>*@
                                        @* } *@

                                        @*@if (User.IsInRole("ope_compania_crear")) *@
                                        @*{*@
                                        <button id="btnVolver" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-undo"></i>Volver</button>

                                        @*}*@
                                        @*else*@
                                        @*{*@
                                        @*<button disabled id="btnVolver" class="btn-primary" data-dismiss="modal"><i class="fa fa-folder-open-o"></i>Archivo</button>*@
                                        @* } *@

                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var relativeUrl = HttpContext.Current.Request.Url.Segments;
    var url = string.Empty;

    foreach (var item in relativeUrl)
    {
        if (!item.Equals("Attach"))
        {
            url += item;
        }
        else
        {
            break;
        }
    }
}
@section PageScripts{
    <script src="~/assets/js/validation/bootstrapValidator.js"></script>
    <script src="~/assets/js/select2/select2.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>



    <script type="text/javascript" class="init">

        //--Bootstrap Date Picker--
        $('.date-picker').datepicker();

        $('#dgdfInicio').datepicker();

    </script>
}
