@using NetCore.PeddEval.Web.WebSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "RECEPTOR DTE";
    ViewBag.Description = "Identificación de usuario";
    Layout = "~/Views/Shared/_Empty.cshtml";
    }


<div class="login-container animated fadeIn">
    <div class="row">
        <!-- <img src="https://www.dycsa.cl/wp-content/uploads/2019/06/dyclogo.png" class="img-responsive" /> -->
    </div>
    <div class="loginbox bg-white" style="background-color:transparent !important ; box-shadow:none; padding-top:15%">
        @*<div class="col-sm-30"><img src="~/assets/img/Logo_dtx_01.gif" /></div>*@
        <div class="loginbox-title" style="color:#ffffff">Iniciar Sesión</div>

        @using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("Email")
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.Password).Placeholder("Contraseña")
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-forgot">
                <a href="~/Account/ForgotPassword" style="color:#ffffff">¿Olvidó su contraseña?</a>
            </div>
            <div class="loginbox-submit">
                @Html.Bootstrap().SubmitButton().Text("Entrar").Color(BootstrapColors.Primary).ButtonBlock()
            </div>
            <!-- <div class="loginbox-signup">
                @Html.ActionLink("Sign Up With Email", "Register")
            </div> -->
        }

    </div>
    @*<div class="logobox">
            <center><img src="~/assets/img/logo.png" alt="" style="height:40px;width:177px;"></center>
        </div>*@
</div>

<link href="~/assets/css/SIT.css" rel="stylesheet" type="text/css" />
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$(document).activeElement(function () {
        //    $("body").css('background-color', 'transparent' , '!important');
        //    $("body").css("background-image", "url(/assets/img/fondo_utp_02.jpg)");
        //});
        $(document).ready(function () {

            myFunction()
            $("body").css("background-repeat", "no-repeat")
            $("body").css("background-size", "cover")
            $("body").css("background-attachment", "fixed")
            $("body").css("background-position", "center center")
            $("body").css("background-position-y", "bottom")
        });

        var myVar;

        function myFunction() {
            myVar = setTimeout(image1);
        }

        function image1() {

       //     $("body").css("background-image", "url(http://www.dycsa.cl/wp-content/uploads/2017/09/HOME-GRAFICA-DC.png)");
            $("body").css("background-image", "url(https://constructoraproark.com/wp-content/uploads/2018/07/fondo-login.jpg)");

        }

    </script>
}